page-list {
    .popBox{
        max-height: 500px;
       
        border-radius: 10px;
    }
    .asideQue{
        border:1px solid rgb(224, 223, 223);
        border-radius: 10px;
        margin:10px;
        font-size:10px;
        min-height: 80px;
        color:rgb(54, 54, 54);
        position:relative;
    }
    .asideLink{
        color:rgb(66, 66, 66);
        padding:0px 10px 20px
    }

}
.popover-md .popover-content{ width: 92%; }
