<!-- 顶部搜索栏 -->
<ion-header [hidden]="scroll" class="barfix">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <span id="myButton">目录</span>
</ion-header>

<!-- 目录 -->
<ion-menu side="right" [content]="content">
  <ion-header class="menuheadfix">
    <ion-navbar>
      <ion-title>目录</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <!--side menu-->
    <div [hidden]="pageState!='interneterror' " class="pagestatewraper">
      <div style="display:table-cell">
        <div>
          <font size="72">
            <ion-icon name="code-working"></ion-icon>
          </font>
        </div>
        <p>网络错误，请稍后再试</p>
      </div>
    </div>
    <div [hidden]="pageState!='loading'" class="pagestatewraper">
      <div style="display:table-cell">
        <div>
          <font size="72">
            <ion-icon name="flash"></ion-icon>
          </font>
        </div>
        <p>加载中...</p>
      </div>
    </div>
    <div class="menulist" [hidden]="pageState!='loaded'">
      <div id="subitem" *ngFor="let it of itemList.son">
        <p id="title" (click)="inPageGoto(it.id)" [innerHTML]="it.name"></p>
        <p id="detail" *ngFor="let dt of it.son" (click)="inPageGoto(dt.id)" [innerHTML]="dt.name"></p>
      </div>
    </div>
  </ion-content>
</ion-menu>

  <!-- <ion-nav #content swipeBackEnabled="false"></ion-nav> -->

<!-- 主体 -->
<ion-content padding class="contentcardfix darkback">
  <div [hidden]="pageState!='interneterror' " class="pagestatewraper">
    <div style="display:table-cell">
      <div>
        <font size="72">
          <ion-icon name="code-working"></ion-icon>
        </font>
      </div>
      <p>网络错误，请稍后再试</p>
    </div>
  </div>
  <div [hidden]="pageState!='loading'" class="pagestatewraper">
    <div style="display:table-cell">
      <div>
        <font size="72">
          <ion-icon name="flash"></ion-icon>
        </font>
      </div>
      <p>加载中...</p>
    </div>
  </div>
    <img name="bigPicShower" #bigPicShower src="{{picUrl}}" imageViewer />
    <!-- <div>这是什么图片？</div> -->

  <div [hidden]="pageState!='loaded'">
    <ion-list >
      <div [hidden]="loginTip" style="background:linear-gradient(-45deg,#E7F8FD,#FFFBFF);margin:25px;border-radius: 15px;text-align: center;padding:10px;color: #7F7F7F;box-shadow: 0 0 5px 2px #64646457;">
        <div style="font-size: 20px;">登录以使用更多功能</div>
        <div style="font-size: 16px;margin:20px 10px">可使用微信/QQ快捷登录成为会员以启用收藏知识点、跳转功能</div>
        <div style="display:flex">
          <div (tap)="changeLoginTip()" style="color:#ffffff;background:linear-gradient(-45deg,#F8A581,#F7BDA4);margin-right:10px;border: 1px solid #ED7D31;width:30%;font-size: 15px;border-radius: 5px;line-height: 40px;">不再提示</div>
          <div style="color:#ffffff;background:linear-gradient(-45deg,#9CCA86,#B5D5A7);border: 1px solid #70AD47;width:70%;font-size: 15px;border-radius: 5px;line-height: 40px;">登录</div>
        </div>
      </div>
<!-- 标题栏 -->
      <!-- 二级目录和一级目录左边都是25px -->
      <div id="detail" style="margin:0 25px 25px;border-bottom:1px solid #7a7a7a">
        <!-- 一级标题 -->
        <p id="title" [innerHTML]="(itemList|dsPipe:inPageSearchText).name"
          style="margin: 18px 0em 5px 0;font-weight:700;font-size: 1.8em;color:#000000;">
        </p>
        <hr style="color:#000000">
        <!-- 二级目录集合-->
        <div *ngFor="let it of (itemList|dsPipe:inPageSearchText).son" style="margin: 1em 0em;">
          <a (click)="inPageGoto(it.id)" [innerHTML]="it.name" style="font-size:1.3em;color:#22B4D1"></a>
          <p [innerHTML]="it.content" (click)=(showBigPic($event))
            style="margin-left: 38px;color:#22B4D1;font-size: 1em"></p>
        </div>
      </div>

<!-- 正文 -->
      <div style="margin:0 25px; border-bottom:1px dashed #7a7a7a" *ngFor="let it of (itemList|dsPipe:inPageSearchText).son">
        <div>
          <!-- 一个二级标题 -->
          <div id="title" attr.name="{{it.id}}" [innerHTML]="it.name"
            style="margin: 10px 0 20px;font-size:1.3em;color:rgb(0, 0, 0);line-height:1.3em"
            (tap)="presentPopover($event)">
          </div>
        </div>
        <div id="main">
          <div id="detail" style="-webkit-box-orient : block-axis;margin-bottom:10px">
            <!-- 一个三级块 -->
            <div title="no" id="sondetail" style="border-radius: 10px;background-color:rgb(255, 255, 255);padding:10px 0" *ngFor="let dt of it.son" attr.name="{{dt.id}}" id="{{dt.id}}" (press)="tapEvent(dt.id)">
              <!-- 一个三级标题 -->
              <div id="sontitle" [innerHTML]="dt.name" (tap)="presentPopover($event)"
                style="margin-bottom:10px;font-size:1.2em;color:rgb(3, 3, 3);line-height:1.2em">
              </div>
              <div style="margin: 14px" id="grandsondetail" [innerHTML]="dt.content" (click)=(showBigPic($event))></div>
            </div>
          </div>
        </div>
      </div>

    </ion-list>
  </div>

  <ion-fab right bottom class="fabpositionfix">
    <button (click)="goBack()" ion-fab
      style="background-color:rgb(162, 216, 226);border:1px solid rgb(82, 174, 250);box-shadow: 0px 0px 0px 0px rgba(68, 68, 68, 0.171)">
      <div style="color:rgb(255, 255, 255);font-size:1.1em">
        返回
      </div>
    </button>
  </ion-fab>
</ion-content>