<ion-header class="barfix">
  <button ion-button large navPop color="light" clear>
    <ion-icon name="arrow-back" style="font-weight: 900;color:rgb(11, 67, 73)"></ion-icon>
  </button>
</ion-header>

<ion-menu side="right" [content]="content">

  <ion-header class="menuheadfix">
    <ion-navbar>
      <ion-title>目录</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <!--side menu-->

    <div [hidden]="pageState!='interneterror' " class="pagestatewraper">
      <div style="display:table-cell">
        <div>
          <font size="72">
            <ion-icon name="code-working"></ion-icon>
          </font>
        </div>
        <p>网络错误，请稍后再试</p>
      </div>
    </div>

    <div [hidden]="pageState!='loading'" class="pagestatewraper">
      <div style="display:table-cell">
        <div>
          <font size="72">
            <ion-icon name="flash"></ion-icon>
          </font>
        </div>
        <p>加载中...</p>
      </div>
    </div>

    <div class="menulist" [hidden]="pageState!='loaded'">
      <div id="subitem" *ngFor="let it of itemList.son">
        <p id="title" (click)="inPageGoto(it.id)" [innerHTML]="it.name"></p>
        <p id="detail" *ngFor="let dt of it.son" (click)="inPageGoto(dt.id)" [innerHTML]="dt.name"></p>
      </div>
    </div>
  </ion-content>

</ion-menu>
<ion-nav #content swipeBackEnabled="false"></ion-nav>

<ion-content padding class="contentcardfix darkback">

  <div [hidden]="pageState!='interneterror' " class="pagestatewraper">
    <div style="display:table-cell">
      <div>
        <font size="72">
          <ion-icon name="code-working"></ion-icon>
        </font>
      </div>
      <p>网络错误，请稍后再试</p>
    </div>
  </div>

  <div [hidden]="pageState!='loading'" class="pagestatewraper">
    <div style="display:table-cell">
      <div>
        <font size="72">
          <ion-icon name="flash"></ion-icon>
        </font>
      </div>
      <p>加载中...</p>
    </div>
  </div>

  <div [hidden]="pageState!='loaded'">
    <!-- <img name="bigPicShower" #bigPicShower src="{{picUrl}}" imageViewer /> -->
    <!-- <div>这是什么图片？</div> -->
    <ion-list>
      <!-- <div>二级目录集合</div> -->
      <ion-card class="titlecardfix tipBox">
        <p id="title" [innerHTML]="(itemList|dsPipe:inPageSearchText).name"
          style="margin: 0.5em 1em 0.2em;font-weight:700;font-size: 1.8em;color:rgb(42, 73, 75);">
        </p>
        <hr style="color:#000000">
        <div id="detail" style="padding:0em 2em">
          <div *ngFor="let it of (itemList|dsPipe:inPageSearchText).son" style="margin: 1em;">
            <a (click)="inPageGoto(it.id)" [innerHTML]="it.name"
              style="font-size:1.2em;color:rgb(82, 145, 150);font-weight:700"></a>
            <p [innerHTML]="it.content" (click)=(showBigPic($event))
              style="margin-left: 2em;color:rgb(123, 169, 173);font-size: 1.05em;font-weight:700"></p>
          </div>
        </div>
      </ion-card>
      <hr style="color:#000000">
      <ion-card class="cardcardfix secBox" *ngFor="let it of (itemList|dsPipe:inPageSearchText).son">
        <div>
          <!-- <div style="color:red">这是一个二级标题</div> -->
          <div>
            <ion-icon name="filing" style="margin:0 5px;font-size:1.3em"></ion-icon>
            <div id="title" attr.name="{{it.id}}" [innerHTML]="it.name"
              style="font-size:1.2em;color:rgb(0, 0, 0);font-weight:700;display: inline-block;line-height:1.3em"
              (tap)="presentPopover($event)" (press)="tapEvent($event)">
            </div>
          </div>
        </div>
        <div id="main" style="padding:0px 2em">
          <div id="detail" style="-webkit-box-orient : block-axis">
            <div id="sondetail" *ngFor="let dt of it.son" attr.name="{{dt.id}}">
              <!-- <div style="color:red">这是一个三级标题</div> -->
              <br>
              <hr style="height:0px;
              border-top:1px dotted rgb(235, 235, 235)">
              <ion-icon name="clipboard" style="margin:0px 5px 0px -20px;font-size:1.3em;font-weight:600"></ion-icon>
              <div 
                id="sontitle" 
                attr.name="{{dt.id}}" 
                [innerHTML]="dt.name" 
                (tap)="presentPopover($event)" 
                style="display:inline-block;font-size:1.1em;font-weight:600;color:rgb(25, 45, 46);line-height:1.3em"
                (press)="tapEvent($event)">
              </div>
              <br><br>
              <div id="grandsondetail" [innerHTML]="dt.content" (click)=(showBigPic($event))>
              </div>
            </div>
          </div>
        </div>
      </ion-card>
    </ion-list>
  </div>

  <ion-fab right bottom class="fabpositionfix" >
    <button ion-fab color="light" style="background-color:rgb(86, 190, 197);box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.14)">
      <!--getPageState()-->
      <div style="color:black;font-weight:700;font-size:1.1em">
        目录
      </div>
      <!--<ion-icon name="arrow-back"></ion-icon>-->
    </button>
  </ion-fab>
  <!--
  <div [MathJax]="mathjaxtest"></div>
  -->
</ion-content>